$interval-height: 24px
$booking-length: 60 * 2
$interval-length: 15

body
    background: grey
    master
        overflow: hidden
        position: relative
        width: 100%

/*
 * Calendar grid.
 */
#calendar
    position: absolute
    top: 0
    left: 64px

    width: calc(100% - 64px)
    height: 100%

    border-collapse: collapse

    th,td
        border: solid #ccc 1px

    /*
     * Signal the new hour.
     */
    tr[mins="45"]
        td
            border-bottom: solid #111 1px

    /*
     * Interval cell.
     */
    td
        position: relative
        height: $interval-height
        box-sizing: border-box

    /*
     * Booking card.
     */
    div.booking
        position: absolute
        top: 0
        left: 0
        height: $booking-length / $interval-length * $interval-height

        box-sizing: border-box
        width: 100%

        padding: 8px

        background: #eee

#timescale
    position: absolute
    top: 0
    left: 0

    box-sizing: border-box
    width: 64px

    padding: 0
    margin: 0

    background: white

    li
        display: block
        height: 60 / $interval-length * $interval-height

        text-align: center

        &:first-child
            margin-top: $interval-height