body
    background: grey
    master
        overflow: hidden
        position: relative
        width: 100%

table 
    border-collapse: collapse
    width: 100%
    height: 100%
    position: absolute
    right: 0
    top: 0
    
    text 
        position: relative
    form 
        overflow: hidden
      
        
        
        
        input 
            
            margin : 0
            width: 99%
    
th,td
    border: 2px solid red
    width: 20%
    

    

    