$interval-height: 15px
$booking-length: 60 * 2
$interval-length: 15
$side-background: #2d2d33
$animate: ease-in-out 200ms

.hidden
    opacity: 0
    transform: scale(0)

body
    background: #263238
    margin: 0
    height: 100%

    #mainScreen
        overflow: hidden
        position: relative
        width: 100%
        height: 100vh
        margin: 0

    /*
     * Header with title and current date/time.
     */
    #header
        h1
            font-family: 'Lato', sans-serif
            font-weight: 100
            color: #61dbcb
            text-align: center

        h2
            position: absolute
            top: 10px
            left: 0

            width: 64px
            height: 300px

            margin: 0
            text-align: center
            overflow: hidden

            color: white
            font-family: 'Lato', sans-serif
            font-size: 20px

            background: $side-background

        h3
            position: absolute
            top: 10px
            left: 80px

            margin: 0

            font-family: 'Lato', sans-serif
            font-size: 20px
            color: white


/*
 * Calendar grid.
 */
#calendar
    position: relative
    top: 0
    left: 64px

    width: calc(100% - 64px)
    height: 100%
    
       
    border-collapse: collapse

    th,td
        
        border-right: solid #0bf4ff 2px
        

    /*
     * Signal the new hour.
     */
    tr[mins="45"] td, th
        border-bottom: solid #65a5ec 1px

    /*
     * Interval cell.
     */
    td
        position: relative
        height: $interval-height
        box-sizing: border-box
        
        

    /*
     * Booking card.
     */
    .booking
        position: absolute
        top: 0
        left: 0
        height: $booking-length / $interval-length * $interval-height

        box-sizing: border-box
        width: 100%

        padding: 10px
        background: #546e7a
        color: white
        font-family: 'Lato', sans-serif
        font-weight: 100
        text-align: center
        font-size: 24px

        overflow: hidden
        z-index: 10
        
        
        .bookingTime
            color: #00ffde
            font-weight: 300
            font-size: 20px
        
        .otherInfo
            font-size: 20px
        
        .customerName 
            font-size: 25px
    
    .header 
        color: #e9592c
        font-family: 'Lato', sans-serif
        font-weight: 100
        font-size: 20px
        padding-bottom: 15px
        
/*
 * Side bar with hour marks.
 */
#timescale
    position: absolute
    top: 112px
    left: 0

    box-sizing: border-box
    width: 64px

    padding: 0
    padding-bottom: 11px
    margin: 0
    

    background: $side-background

    li
        display: block
        height: 60 / $interval-length * $interval-height + 2px
        color: white
        font-family: 'Lato', sans-serif

        text-align: center

/*
 * Form to create a booking at the given time slot.
 */
#bookingCreation
    position: absolute
    top: 0
    left: 0
    z-index: 10

    box-sizing: border-box
    width: 300px

    padding: 4px
    overflow: hidden

    color: white
    font-size: 20px
    font-family: 'Lato', sans-serif
    background: #2b79ac
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)
    transition: opacity $animate, transform $animate, top $animate, left $animate

    #time
        display: inline-block
        margin: 5px

    #bookingConfirm, #bookingCancel
        width: 24px
        height: 24px

        line-height: 24px
        margin-left: 3px
        text-align: center

        font-size: 20px

        float: right
        border: solid rgba(255, 255, 255, .3) 2px
        border-radius: 100%

        cursor: pointer
        user-select: none
        -webkit-user-select: none

    input
        width: calc(100% - 10px)
        margin: 5px 6px

        border: none
        border-bottom: solid rgba(255, 255, 255, .3) 2px

        color: white
        font-size: 15px
        font-weight: 200
        background: #2b79ac

    input:focus
        background-color: #2b79ac !important
        color: white
        outline-width: 0


    ::-webkit-input-placeholder
        color: white
        background: #2b79ac !important

#menuScreen
    position: absolute
    top: -100%
    left: 0

    width: 100%
    height: 100%

    background: #263238
    opacity: 0
    z-index: 20

    transition: top $animate, opacity $animate

    &.show
        top: 0
        opacity: 1

    /*
     * Current order.
     */
    .leftPanel
        position: absolute
        top: 0
        left: 0
        bottom: 0

        display: inline-block
        width: 35%

        padding: 16px 0

        background: #2d2d33

        /*
         * Table name.
         */
        h2
            font-family: 'Lato', sans-serif
            color: white
            text-align: center
            font-size: 30px

        /*
         * Category name.
         */
        h3
            font-family: 'Lato', sans-serif
            position: relative
            top: -25px
            font-weight: 100
            color: #e9592c
            margin: 0
            padding-top: 6px
            font-size: 25px
            padding-left: 15px

        /*
         * Order total.
         */
        .total
            height: 40px
            padding: 16px

            border-top: solid rgba(#fff, .1) 1px

            h4
                font-family: 'Lato', sans-serif
                font-weight: 300
                font-size: 20px
                display: inline
                color: white

            h5
                width: 84px

                margin: 0

                float: right
                text-align: center

                color: #61dbcb
                font-family: 'Lato', sans-serif
                font-weight: 300
                font-size: 20px

        /*
         * Ordered meal.
         */
        .meal
            position: relative
            padding: 0 16px

            animation: fade-in 200ms

            h4
                height: 30px
                margin: 8px 0

                color: white
                font-family: 'Lato', sans-serif
                font-weight: 300
                font-size: 20px

            /*
             * How many meals ordered.
             */
            .counter
                position: absolute
                top: 0
                right: 16px

                color: #e9592c

                /*
                 * Actual counter.
                 */
                input
                    display: block
                    width: 28px
                    height: 28px
                    line-height: 28px

                    float: left
                    text-align: center

                    color: #61dbcb
                    font-family: 'Lato', sans-serif
                    font-weight: 300
                    font-size: 20px
                    background: transparent
                    border: none

                /*
                 * More and less buttons.
                 */
                .material-icons
                    display: block

                    cursor: pointer
                    -webkit-user-select: none

                    float: left
                    text-align: center

                    border: solid 2px #e9592c
                    border-radius: 100%

    /*
     * Available meals.
     */
    .rightPanel
        cursor: pointer
        -webkit-user-select: none

        width: 60%
        box-sizing: border-box

        margin-left: 35%
        padding-left: 64px

        /*
         * Screen title.
         */
        h2
            margin: 0
            padding-top: 20px
            padding-bottom: 10px

            font-family: 'Lato', sans-serif
            font-weight: 100
            text-align: center
            font-size: 25px
            color: #61dbcb

        /*
         * Category name.
         */
        h3
            margin: 0
            padding-top: 16px
            padding-left: 32px

            font-family: 'Lato', sans-serif
            font-weight: 100
            font-size: 40px
            color: #e9592c

        .meal
            position: relative

            padding: 4px
            padding-left: 32px

            &:hover
                background-color: lighten(#263238, 10%)
                transition: background $animate
            &:active
                background-color: darken(#263238, 1%)
                transition: background $animate

            /*
             * Meal name.
             */
            h4
                display: block
                margin: 0

                letter-spacing: 1px
                font-family: 'Lato', sans-serif
                font-weight: 300
                font-size: 20px
                color: white

            /*
             * Meal description.
             */
            h5
                display: block
                margin: 0

                letter-spacing: 1px
                font-family: 'Lato', sans-serif
                font-weight: 300
                font-size: 16px
                color: rgba(255, 255, 255, .3)

            span.price
                position: absolute
                top: 8px
                right: 8px

                display: block

                color: #61dbcb
                font-family: 'Lato', sans-serif

@keyframes fade-in
    from
        opacity: 0
    to
        opacity: 1